
<div id="show_databases" class="current">
  <div class="toolbar">
    <h1>Databases overview</h1>
  </div>
  <ul class="rounded">
    <% @databases.each{|db| %>
    <li class="arrow">
      <%= link_to db.first, { :controller => 'mobmin', :action => 'show_tables', :db => db.first }, :class => "database", :id => db.first %>
    </li>
    <% } %>
  </ul>
  <div class="info">
      Generated: <%= DateTime.now  %>
  </div>
</div>

<div id="show_tables">
  <div class="toolbar">
    <a class="back" href="#show_databases">back</a>
    <h1>Tables in <%= @database %></h1>
  </div>

  <ul class="rounded">
    <li class="arrow">
      <a href="#table_info">Show table info</a>
    </li>
  </ul>
  <div class="info">
      Generated: <%= DateTime.now  %>
  </div>
</div>

<div id="table_info">
  <div class="toolbar">
    <a class="back">back</a>
    <h1>Table info</h1>
  </div>

  <ul class="rounded">
    <li>Total table rows:</li>
  </ul>
  <ul class="rounded">
    <li><span>Name:</span><span></span></li>
    <li><span>Type:</span><span></span></li>
    <li><span>Default value:</span><span></span></li>
  </ul>
  <div class="info">
      Generated: <%= DateTime.now  %>
  </div>
</div>