<% content_for :back do %>
	<%= link_to "Back", {:action => "table_detail"}, :class => "myBack button fade" %>
<% end %>
<% content_for :header, "Search" %>
<% content_for :logout do %>
	<%= link_to "Logout", {:controller => "mobmin", :action => "logout"}, :class => "button flip", :id =>"infoButton" %>
<% end %>

<form action="search_result" method="post" class="form">
	<ul class="rounded">
		<li>Search for:<br />(wildcard - % can be used)</li>
		<li>
			<input type="hidden" name="database_name" value="<%= @table.database %>"/>
			<input type="hidden" name="table_name" value="<%= @table.name %>"/>
			<input type="hidden" name="user" value="<%= session[:user] %>"/>
			<input type="hidden" name="psw" value="<%= session[:psw] %>"/>
			<input type="text" name="val" placeholder="type here"/>
		</li>
		<li>in column</li>
		<li>
			<select name="col">
				<% @table.columns.each{|column| %>
				<option value="<%= column.name %>"><%= column.name %></option>
				<% }%>
			</select>
		</li>
	</ul>
	<a href="#" class="submit whiteButton" style="margin:10px;color:rgba(0,0,0,.9)">Submit</a>
</form>