<% content_for :back do %>
	<%= link_to "Back", {:action => "table_detail"}, :class => "myBack button fade" %>
<% end %>
<% content_for :header, "#{@table.name} data" %>
<% content_for :logout do %>
	<%= link_to "Logout", {:controller => "mobmin", :action => "logout"}, :class => "button flip", :id =>"infoButton" %>
<% end %>

<% @table.rows.each{|row| %>
<ul class="rounded">
  <% row.each_index {|i| %>
		<% if row[i].nil? %>
			<li><%= @table.columns[i].name %>: <em>NULL</em></li>
		<% else %>
			<li><%= @table.columns[i].name %>: <%= row[i] %></li>
		<% end %>
  <% } %>
</ul>

<div class="editBar">
	<form action="edit_data" method="post">
		<% row.each_index{ |i| %>
			<input type="hidden" name="col[<%= i %>]" value="<%= @table.columns[i].type %>"/>
			<input type="hidden" name="ed[key-<%= i %>]" value="<%= @table.columns[i].name %>"/>
			<% if !row[i].nil? %>
				<input type="hidden" name="ed[val-<%= i %>]" value="<%= row[i] %>"/>
			<% end %>
		<% } %>
			<input type="hidden" name="table_name" value="<%= @table.name %>"/>
			<input type="hidden" name="database_name" value="<%= @table.database %>"/>
			<input type="hidden" value="<%= session[:user] %>" name="user"/>
			<input type="hidden" value="<%= session[:psw] %>" name="psw"/>
		<%= link_to "Edit", nil, :class => "submit whiteButtonShortL" %>
	</form>
	<form action="delete_row" method="post">
		<% row.each_index{ |i|
			 	 ok = 0
				 null = 0 %>
			<% if !@table.columns[i].type.downcase.include?("blob") %>
				<% if row[i].nil? %>
					<input type="hidden" name="nil[key-<%= null %>]" value="<%= @table.columns[i].name %>"/>
					<% null += 1 %>
				<% else %>
					<input type="hidden" name="del[key-<%= ok %>]" value="<%= @table.columns[i].name %>"/>
					<input type="hidden" name="del[val-<%= ok %>]" value="<%= row[i] %>"/>
					<% ok += 1 %>
				<% end %>
			<% end %>
		<% } %>
			<input type="hidden" name="table_name" value="<%= @table.name %>"/>
			<input type="hidden" name="database_name" value="<%= @table.database %>"/>
			<input type="hidden" value="<%= session[:user] %>" name="user"/>
			<input type="hidden" value="<%= session[:psw] %>" name="psw"/>
			<%= link_to "Delete", nil, :class => "submit whiteButtonShortR" %>
	</form>
	<div class="clr"></div>
</div>
<hr />
<% } %>