<% content_for :back do %>
	<%= link_to "Back", nil, :class => "back" %>
<% end %>
<% content_for :header, "Table detail" %>
<% content_for :logout do %>
	<%= link_to "Logout", {:controller => "mobmin", :action => "logout"}, :class => "button flip", :id =>"infoButton" %>
<% end %>

<ul class="rounded">
  <li class="arrow"><%= link_to "Show table information", :action => "table_info" %></li>
  <li class="arrow"><%= link_to "Show table data", :action => "show_data" %></li>
  <li class="arrow"><%= link_to "Insert data", :action => "insert_data" %></li>
</ul>
