  <div>

    <div class="toolbar">
			<%= yield(:back) %>
      <h1><%= yield(:header) %></h1>
			<%= yield(:logout) %>
    </div>

 		<% if !@error.nil? %>
			<ul class="rounded errors">
				<li><%= @error.html_safe %></li>
			</ul>
		<% end %>

    <%= yield %>

    <div class="info">
      Generated: <%= DateTime.now  %><br />
    </div>

  </div>